SECRET_KEY=supersecretkey
SQLALCHEMY_DATABASE_URI=sqlite:///instance/site.db
FLASK_ENV=development
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=your-email@example.com
MAIL_PASSWORD=your-email-password
MAIL_DEFAULT_SENDER=Blog App <noreply@example.com>
